header{
    background-color: #4a10a1;
}

.header-imgs{
    display: flex;
    padding: 10px;
}

.img-icon{
    border-radius: 50%;
    width: 90px;
}

.img-logo{
    width: 180px;
    margin-left: 10px;
}