<header>
    <div class="header">
        <div class="header-imgs">
            <img class="img-icon" src="../assets/images/vphotoWhite.png" />
            <img class="img-logo" src="../assets/images/vLogo.png"/>
        </div>
        <div>
            <ul class="menu-ul">
                <li class="menu-item">Conheça-me</li>
                <li class="menu-item">Cronograma</li>
                <li class="menu-item">Portifólio</li>
            </ul>
        </div>
    </div>
</header>
<!-- 60px no max 70px -->
 <router-outlet></router-outlet>

 <footer>
     <div>

     </div>
 </footer>
