header{
    background-color: #4a10a1;
    height: 60px;
    display: block;
}

.header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-imgs{
        display: flex;
        align-items: center;
    }
}

.img-icon{
    border-radius: 50%;
    height: 55px;
}

.img-logo{
    margin-left: 10px;
    height: 55px;
}

.menu-ul{
    display: flex;
    justify-content: right;
    flex-direction: row;
    text-decoration: none;
}

.menu-item {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

