header{
    background-color: #4a10a1;
    height: 60px;
    display: block;
}

.header-imgs{
    height: 100%;
    display: flex;
    align-items: center;
}

.img-icon{
    border-radius: 50%;
    height: 55px;
}

.img-logo{
    margin-left: 10px;
    height: 55px;
}

.menu{
    display: flex;
    justify-content: right;
    flex-direction: row;
    text-decoration: none;
}