/* You can add global styles to this file, and also import other style files */

@import "scss/includes.scss";


.default-body { 
    margin: 0; 
    font-family: $font-primary;
    background-color: $color-light-primary;

    background: url(./assets/images/bg-circuits.png),
                linear-gradient($color-light-primary, $color-primary);
                background-attachment: fixed;
    
    li {
        list-style-type: none;
    }
}
