/* You can add global styles to this file, and also import other style files */

@import "scss/includes.scss";


.default-body { 
    margin: 0; 
    font-family: $font-primary;

    background: linear-gradient(#a983e2, #3f3352);
    background-attachment: fixed;
    background-size: 150% 150%;
    
    li {
        list-style-type: none;
    }

    .body-image{
        background: url(./assets/images/bg-circuits.png);
    }
    @keyframes colors {
        0% {
            background-position-y: 0%;
        }
        50% {
            background-position-y: 100%;
        }
        100% {
            background-position-y: 0%;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
