/** Breakpoints */
$breakpoint-xsmall: 0;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-header: 1079px;
$breakpoint-xlarge: 1200px;
$breakpoint-table: 1246px;

/** Colors */
$color-primary: #5A4B70;
$color-secondary: #AED672;
$color-light-primary:#926DC9;
$color-dark-primary:#4A10A1;
$color-dark-secondary:#5F7A37;

/** Grid */
$grid-columns: 12;

/** Fonts */

$font-primary: 'Courgette', cursive;